<h2>Hello from overview</h2>

<!-- The link below is temporary. This must only appear on navbar when admin users login -->
<%= link_to_if(current_user.admin?, "Admin Page", users_path, :class => 'action index'){} %>
