<%= stylesheet_link_tag "welcome" %>

<%= navigation_bar %>

<div class="container">
  <div class="position-relative text-white">
    <img src="/aesthetic.jpg" class="img-fluid" alt="/aesthetic.jpg">
    <div class="top-left">| Aesthetic Configurations</div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <img src="/mountain.jpg" class="card-img-top" alt="/mountain.jpg">
        <div class="card-body">
          <h5 class="card-title">Mountain Background</h5>
          <a href="/mountain" class="btn btn-primary">Apply this</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="/splash.jpg" class="card-img-top" alt="/splash.jpg">
        <div class="card-body">
          <h5 class="card-title">Ocean Background</h5>
          <a href="/ocean" class="btn btn-primary">Apply this</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="/cloud.jpg" class="card-img-top" alt="/cloud.jpg">
        <div class="card-body">
          <h5 class="card-title">Cloud Background</h5>
          <a href="/clouds" class="btn btn-primary">Apply this</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <img src="/bee.jpg" class="card-img-top" alt="/bee.jpg">
        <div class="card-body">
          <h5 class="card-title">Default Background</h5>
          <a href="/bee" class="btn btn-primary">Apply this</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="/gradient.jpg" class="card-img-top" alt="/gradient.jpg">
        <div class="card-body">
          <h5 class="card-title">Gradient Background</h5>
          <a href="/gradient" class="btn btn-primary">Apply this</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="/wall.jpg" class="card-img-top" alt="/wall.jpg">
        <div class="card-body">
          <h5 class="card-title">Wall Background</h5>
          <a href="/wall" class="btn btn-primary">Apply this</a>
        </div>
      </div>
    </div>
  </div>
