<%= stylesheet_link_tag "welcome" %>

<%= navigation_bar %>

<div class="container">
  <div class="position-relative text-white">
    <img src="/branch.jpg" class="img-fluid" alt="/branch.jpg">
    <div class="top-left">| Find your local branch</div>
    <div class="comment">Providing you banking services nationwide.</div>
  </div>

  <div class="row justify-content-between mt-5">
    <div class="col-sm-5">
      <iframe
        width="100%"
        height="100%"
        id="gmap_canvas"
        src="https://maps.google.com/maps?q=london&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0">
      </iframe>
    </div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Find your nearest Bee Bank.</h5>
          <h6 class="card-subtitle mb-2 text-muted">Opening Times</h6>
          <p class="card-text"><br>Monday 10:00-20:00 <br> Tuesday 10:00-20:00 <br> Wednesday 10:00-20:00 <br> Thursday
            10:00-20:00 <br> Friday 10:00-20:00 <br> Saturday 10:00-17:30 <br> Sunday 10:00-13:00 <br><br>Please
            remember
            to wear a mask when visiting our branches. We strictly follow social distancing restrictions to help fight
            the
            spread of the virus.</p>
        </div>
      </div>
    </div>
  </div>
</div>