<%= stylesheet_link_tag "welcome" %>

<div>
  <%= navigation_bar %>

  <div class="container">
    <div class="position-relative text-white">
      <img src="/banking.jpg" class="img-fluid" alt="/banking.jpg">
      <div class="top-left">| Personal Banking</div>
      <div class="comment">Bank easy. Bank secure. Bank online with Bee Bank.</div>
    </div>

    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <img src="/telephone.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Banking On-the-go</h5>
            <p class="card-text">With our mobile banking app, you can explore features such as paying bills,
              transferring
              funds between accounts and locating our branches across the nation.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="/nation.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Branches Nationwide</h5>
            <p class="card-text">Visit any of our branches nationwide in order to register to use our services. Talk
              with
              our specialists and find out why our customers choose us.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="/accounts.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Personal Accounts</h5>
            <p class="card-text">Contact us today to open up a new bank account. You can do this online, or over the
              phone. Talk with any of our advisors to choose which account is right for you. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>