<%= stylesheet_link_tag "welcome" %>
<%= navigation_bar %>

<h2>Editing Transaction</h2>
<%= link_to '<< Back to Transactions', transactions_path, class: "btn btn-light" %>



<%= render 'form', transaction: @transaction %>
